@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --border-color: #e3e5e4;
  --backgruond-color: #2bb6e0;
  --text-color: #34444f;
  --button-color: #b0cc15;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: "Prompt";
}
body::after {
  content: "";
  background-image: url("./images/Pagani-zonda.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.description_of_quest {
  font-size: 22px;
  margin-top: 0;
}
.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.draggable-list li {
  background-color: #fff;
  display: flex;
  flex: 1;
  border-radius: 30px;
}
.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--backgruond-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list .person-name {
  margin: 0 20px 0 0;
}
.draggable-list li.right .person-name {
  color: #3ae374;
}
.draggable-list li.wrong .person-name {
  color: #ff3838;
}
.draggable-list li.over .draggable {
  border-color: #eaeaea;
}
.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--button-color);
  bottom: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.check-btn:active {
  transform: scale(0.9);
}
.check-btn:focus {
  outline: none;
}
.button_container {
  gap: 20px;
  display: flex;
}
